dask-worker-space/
.ipynb_checkpoints/
tests/pa_bin/
.DS_Store
.idea/
decOM.log
decOM_output/
tests/decOM_sources/
tests/decOM_sources.tar.gz
tests/decOM_output*
tests/several_samples_output
tests/several_samples/wrong.txt
tests/several_samples/empty.txt
tests/several_samples/duplicated.txt
.ipynb_checkpoints

